/*header*/
ul li{
  padding: 15px 5px 0px 0px;
  font-weight: 700;
  font-size: 1.1em;
}
.nav img{
   width: 250px;
   padding-left: 40px;
   padding-top: 10px;
}
.b-light{
   background-color: #064081;
}
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 220px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 .dropdown-content a {
   color:#064081;
   text-decoration: none;
   display: block;
   padding: 0px 0px 5px 15px;
   font-size: 16px;
   font-family: "Roboto Condensed", heebo;
   border-style: solid;
   border-width: 0px 0px 1px 0px;
   border-color: #CDCDCD;
 }
 .drop a:hover{
   background-color: #064081;
 }
 .dropdown-content a:hover {
   background-color:#064081;
   color: white;
}
 
 .dropdown:hover .dropdown-content {
   display: block;
 }
 .call{
   font-family: "Roboto Condensed", heebo;
    font-size: 14px;
    height: 6vh;
    border-radius: 0px 0px 0px 0px;
    padding: 10px 12px 12px 12px;   
}
/*unserval*/
*p{
   color: #064081;
}
/*all*/
.w-80{
   width: 80%;
}
.w-90{
   width: 90%;
}
.h-40{
   height: 35vh;
}
.h-10{
   height: 13vh;
}
.h-20{
   height: 20vh;
}
.ps-10{
   padding-left: 6%;
}
.contactbutton{
   margin-left: 23%;
}

/*Home*/
.value img{
   width: 70%;
}
.nfp img{
   padding-left: 10%;
   padding-bottom: 25px;
}
.nfp{
   margin-left: 50px;
}
.nfp h5{
   width: 60%;
   padding-bottom: 20px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nfp p{
   padding-right: 50px;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: #717171;
}
/*services*/
.b-ground{
   background-color: rgb(227, 243, 243);
   height: 90vh;
}
.b-ground img{
   width: 95%;
}
.pt{
   padding-top: 10%;
   padding-left: 150px;
   font-size: 290%;  
   color: rgb(49, 49, 105);
}
.p{
   padding-left: 150px;
   padding-top: 20px;
}
.mt-5{
   margin-left: 15%;
   width: 20%;
}
.t-center{
   text-align: center;
}
.w-90{
   width: 90%;
}
.l-height{
   line-height: 30px;
   text-align: justify;
}
.pt-5{
   margin-top: 40px;
}
.developer h3{
 margin-top: 20px;
}
.developer img{
   box-shadow: 1px 1px 5px 1px rgba(13, 10, 10, 0.311);
}
h3,h1,h4,h2{
color: #064081;
}
p{
   line-height: 30px;
   text-align: justify;
}
/*HireExpert*/
.Hire h1{
padding-top: 10%;
padding-left: 20%;
}
.Hire p{
   padding-left: 20%;
}
.Hire{
   margin-right: 0%;
}
.Hire i{
   padding-right: 10px;
   color: #064081;
}
.h-0{
height: 105vh;
}
.Hire button{
   margin-left: 20%;
}
.reason{
   text-align: center;
   color: #064081;
}
.margin{
   margin-left: 0%;
}
.margin div{
   margin: 10px;
   height: 70vh;
   padding-top: 20px;
}
.mr{
   margin-left: 0%;
}
.mr div{
   margin: 10px;
   padding-top: 20px;
   height: 58vh;
}
.boder{
   border: 1px   solid rgb(23, 22, 22);
   border-radius: 7px;
}
.hire{
   margin-left: 0%;
}
.hire div{
   padding: 5px;
}
.hire img{
   padding: 15px;
}
.b-b{
   border-bottom: 1px solid rgb(194, 193, 193);
}
.b-l{
   border-left: 1px solid rgb(194, 193, 193);
}
.b-r{
   border-right:1px solid rgb(194, 193, 193); ;
}
.w-20{
   width: 15%;
   margin-left: 40%;
}
.m-l{
margin-left: 12%;
}
.program img{
   width: 20%;
}
.program div{
   border: 1px solid rgb(77, 77, 77);
   padding: 10px; 
   width: 24%;
   margin: 5px;
   height: 10vh;
}
.program span{
   color: #064081;
   font-size: 15.8px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.program :hover{
   background-color: rgb(214, 213, 213);
}
/*footer*/
.footer{
   margin-right: 0%;
}
.footer div{
   height: 47vh;
   background-color: rgb(27, 27, 27);
   color: white;
}
.logo{
   padding-top: 20px;
   font-size: 13px;
   line-height: 20px;
}
.logo img{
width: 50%;
}
.footer a{
   text-decoration: none;
   color: white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer a:hover{
   color: #064081;
}
.link{
   padding-top: 50px;
   line-height: 50px;
}
.copy{
   color: #A4A4A4;
   background-color: rgb(27, 27, 27);
   border-width: 1px 0px 0px 0px;
    font-family: "Heebo", heebo;
    font-size: 14px;
    font-weight: 400;
    border-style: solid;
   --bs-gutter-x:0rem;
   height: 40px;
}
/*Contact*/
.contact{
   background-color: rgba(211, 244, 251, 0.359);
   height: 110vh;
   margin-bottom: 20px;
}
.address{
   padding-top: 50px;
   padding-left: 0%;
}
.address p{
   width: 70%;
   padding: 10px;
}
/*contactus*/
.contactus input,.contactus textarea{
margin-top: 20px;
}
.contactus textarea{
   height: 140px;
}
.m-top{
   margin-top: 90px;
}
.errormsg{
   color: red;
   margin-top: 10px;
}
.f-book i{
   font-size: 30px;
   padding: 10px;
}
.twitter{
   color: rgb(41, 192, 226);
}
.face{
   color: rgb(83, 83, 185);
}
.insta{
   color: rgb(190, 10, 70);
}
.you{
   color: rgb(244, 24, 24);
}
.pint{
color: rgb(209, 25, 25);
}
.check li{
   display: inline;
}
.check{
   font-size: small;
}
.check label{
   padding-left: 10px;
}
/*Products*/
.product div{
 padding: 6%;
 padding-left: 10%;
}
.product p{
   color: black;
}
div.row.product{
   --bs-gutter-x: 0rem;
}
.product img{
 width: 100%;
}
.devel{
   margin-left: 25%;
   width: 50%;
   padding: 7.5px;
   height: 140px;
}
.maker{
   background-color: #064081;
}
.maker img{
   padding-left: 10%;
}
.color-w{
   color: white;
}
.maker h1{
   font-size: 2.7em;
}
div.row.maker{
   --bs-gutter-x: 0rem;
}
.waterapps img{
   height: 40vh;
}
.car{
   height: 50vh;
}
.card{
   box-shadow: 1px 1px 4px 1px rgba(13, 10, 10, 0.311);
}
.ml-100{
   margin-left: 100px;
}
.research{
   background-color: #06408105;
}
.research img{
   box-shadow: 1px 1px 5px 1px rgba(13, 10, 10, 0.311);
}

/*industries*/
.buy img{
   height: 90vh;
   width: 110%;
   margin-top: 30px;
   padding: 40px;
}
.relevance img{
   width: 50px;
}
.relevance :hover{
   background-color: #eaf7fc;
}
.firm img{
   width: 50px;
}
.firm {
   height: 130vh;
}
.seo p{
   margin-bottom: 10%;
}

/*AboutUs*/
.origin img{
   padding-top: 50px;
}
.origin h1{
   padding-top: 20%;
}

/*career*/
.carrer h1{
   font-size: 3.5em;
   font-style:oblique;
   padding-left: 10px;
}
.carrer h5{
   padding-left: 10px;
   padding-top: 20px;
}
.carrer button{
   margin-left: 10px;
   margin-top: 20px;
}
.carrer img{
   width:200%;
}
.good{
   background-color: #f1f1f1;
   color: #064081;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 16px;
   height: 20vh;
   text-align: center;
}
.developer summary{
   color: #064081;
   font-size: 1.3em;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.developer{
   margin-left: 25px;
}
.b-color{
   background-color: #f1f1f1;
}
.join label{
   color: #064081;
}
.join span{
   color: red;
}

/*BLOG*/
.bg-img{
   background-image: url('./img/blog_banner.webp');
   background-size: cover;
   background-attachment: fixed;
   height: 40vh;
}
.Blog{
   color: #FFFFFF;
    font-family: "Roboto Condensed", heebo;
    font-size: 60px;
    padding: 100px 0px 127px 50%;
    font-weight: 600;
    background-color: rgb(48, 48, 48);
   opacity: 0.5;
}
.blog{
   height: 75vh;
   width: 90%;
   margin-left: 40px;
}
.blog img{
   width: 100%;
   height: 30vh;
   box-shadow: 1px 1px 7px 1px rgba(13, 10, 10, 0.311);
}
.blog h6{
   padding-top: 20px;
   color: black;
   text-align: center;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 1.1em;
}